# ignore komodo project files
*.kpf

# ignore generated folders 
pkg/
doc/

# ignore jekyll generated output
site/_site/

# ignore generated test html pages
*.html
sandbox/*.html


# ignore output folders

o/
kramdown/
k/
redcarpet/
r/

# ignore local markdown.yml (used for testing only)

markdown.yml
