

<h3>Markdown Gem / About</h3>

<p><b>
What's the <code>markdown</code> gem?
</b>

The Markdown Engine Wrapper (<code>markdown</code>) Ruby gem lets you use
your markdown library of choice in Ruby.
<a href='https://github.com/geraldb/markdown'>Find out more »</a>
</p>

<p>
<b>Questions? Comments?</b>  
Send them along to the <a href='http://groups.google.com/group/webslideshow'>Free Web Slide Show Alternatives (S5, S6, S9, Slidy And Friends) Forum/Mailing List</a>.
Thanks!
</p>

<p><b>License</b>
The markdown scripts are dedicated to the public domain.
Use it as you please with no restrictions whatsoever.
</p>
