
<h3>Markdown Web Service / HTTP JSON(P) API</h1>

<h4>Render Markdown</h4>

<pre><code>GET /markdown
</code></pre>

<p>
 Input:
</p>

<ul>
 <li><b>text</b> - <em>Required</em> string - The Markdown text to render</li>
 <li><b>lib</b>  - <em>Optional</em> string - The Markdown library/engine to use
      (e.g. <code>kramdown</code>, <code>redcarpet</code>, etc)</li>
</ul>

<p class='api'>
 Example: 
 <code>GET 
     <a href='view-source:<%= url("/markdown?text=Hello+World!") %>'>
        /markdown?<span class='params'>text=<em>Hello+World!</em></span>
     </a>
 </code>
</p>

<p>
 Response:
</p>

<pre><code>Status: 200 OK
Content-Type: text/html

&lt;p&gt;Hello World!&lt;p&gt;
</code></pre>


<h4>Render Markdown (Babelmark2-Style)</h4>

<pre><code>GET /dingus
</code></pre>

<p>
 Input:
</p>

<ul>
 <li><b>text</b> - <em>Required</em> string - The Markdown text to render</li>
 <li><b>lib</b>  - <em>Optional</em> string - The Markdown library/engine to use
      (e.g. <code>kramdown</code>, <code>redcarpet</code>, etc)</li>
</ul>


<p class='api'>Example:
 <code>GET
     <a href='<%= url("/dingus?text=Hello+World!") %>'>
        /dingus?<span class='params'>text=<em>Hello+World!</em></span>
     </a>
 </code>
</p>

<p>
 Response:
</p>

<pre><code>Status: 200 OK
Content-Type: application/json

{
  'name': 'kramdown',
  'html': '&lt;p&gt;Hello World!&lt;p&gt;',
  'version': '1.0.2'
}
</code></pre>
