
body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #EEEEEC;
  }

/***********
 * fix: use scss or less; cleanup css
 *
 ****/

a#output-toggle, a#output-toggle:visited, a#output-toggle:hover,
a#output-update, a#output-update:visited, a#output-update:hover,
a#input-toggle, a#input-toggle:visited, a#input-toggle:hover {
  color: black;
  text-decoration: none; }



#input #note {
   width: 100%; min-height: 400px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.black {
    background-color: #2E3436;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    padding: 6px;
    color: #FFFFFF;
    font-weight: bold;
}


#output {
   width: 100%;
   /* padding-left: 10px; */
   background-color: white;
   border-radius: 4px 4px 4px 4px;
   padding: 6px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


#output-source {
   display: none;
   width: 100%; min-height: 400px;
   background-color: #EEEEEC;
   border: none;
   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


#output-loading {
  display: none;
  width: 21px;
  height: 5px;
  background: url('../../i/dots-white.gif') no-repeat;
  /* -webkit-transition: all 0.1s linear; */
}