
<h3>Markdown Web Service / HTTP JSON(P) API</h1>

<p>
 <code>
     <a href='<%= url("/html?text=hello_world") %>'>
        /html?<span class='params'>text</span>=hello_world
     </a>
 </code>
</p>

<p>
 <code>
     <a href='<%= url("/dingus?text=hello_world") %>'>
        /dingus?<span class='params'>text</span>=hello_world
     </a>
 </code>
</p>
