
<h1>Markdown JSON(P) API</h1>


<hr>

<p>
 <code>
     <a href='<%= url("/html?text=hello_world") %>'>
        /html?<span class='params'>text</span>=hello_world
     </a>
 </code>
</p>

<p>
 <code>
     <a href='<%= url("/dingus?text=hello_world") %>'>
        /dingus?<span class='params'>text</span>=hello_world
     </a>
 </code>
</p>

<%= erb :'_debug' %>
